.dailyWeatherBoxes{

    height: 50px;
    width:89%;

    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    margin-left: 20px;
    position: relative;

    margin-bottom: 0px;
    flex-wrap: wrap;
   
  
    
   
  
}

.dailyWeatherSection{

    height: 180%;
    width: 60%;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -80%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
   
    

}