body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  height: 2000px;
width: 100%;
background-position: center;

}
.overlay{
  width: 100%;
  height: 1000px;
  background-color: rgba(0,0,0,0.2);
}

.contanier{
  max-width: 800px;
  margin:auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.section{
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white
}

.section__inputs, .section_temperature{

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.6);
  font-weight: 200;


}

.section_temperature{
  background-color: rgba(0,0,0,0.6);
  margin-top: 15%;
}
.section__inputs{
  padding: 25px;
  font-size: 60px;
  

}


.temperature{
  font-size: 30px;
}
